.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-center;
  gap: 2rem;
  margin: 20px;
}

.ip-info-container {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.ip-info-container .ip-info {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.ip-info p {
  margin: 10px 0;
}

.map-container {
  flex: 1;
  max-width: 50%;
}

.layout {
  min-height: 100vh;
  /* max-width: 100vw; */
  /* display: flex; */
  /* justify-content: center; */
 
  /* -ms-flex-align: center; */
}

.map {
  height: 400px;
  width: 30vw;
}

