/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  height: 100vh;
}

.header {
  text-align: center;
  background: #001529;
  padding: 20px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px); /* Adjust height to fill the rest of the viewport minus header */
  width: 100%;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ip-info-container {
  position: absolute;
  top: 80px;
  left: 20px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
}

.map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.map {
  height: 100%;
  width: 100%;
}
